@model PagedList.PagedList<TLU.Blog.Models.DataBase.FeelBack>
@using PagedList.Mvc
@using TLU.Blog.Models.DataModels
@{
    ViewBag.Page = "FeelBack";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Header{
    @ViewBag.Page
}
@section Title{
    @ViewBag.Title
}
<div class="col-xs-12">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">FeelBack</h3>
            <div>
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
            </div>
        </div><!-- /.box-header -->
        
        <div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Miêu Tả</th>
                            <th>Người Gửi</th>
                            <th>Thơi Gian Gửi</th>
                            <th>Trang Thái</th>
                            <th>Tool</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                            <tr>
                                <td>@item.Descript</td>
                                <td>
                                    @(new FeelBackModel().GetNameAccountById(item.Sender))
                                </td>
                                <td>@item.SendDate</td>
                                @if(item.Check==true)
                                {
                                    <td>Đã Đọc</td>
                                }
                                else
                                {
                                    <td>Chưa Đọc</td>
                                }
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id=item.ID})|
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                    }

                    </tbody>
                </table>
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
            </div><!-- /.box-body -->
        </div>
    </div><!-- /.box -->
</div><!-- /.col -->
