@model PagedList.PagedList<TLU.Blog.Models.DataBase.Topic>
@using TLU.Blog.Models.DataBase
@using TLU.Blog.Models.DataModels
@using PagedList.Mvc
@{
    ViewBag.Page = "Topic";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Header{
    @ViewBag.Page
}
@section Title{
    @ViewBag.Title
}
<div class="col-xs-12">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Level</h3>
            <div>
                <div class="box-header with-border">
                @Html.ActionLink("Create","Create")
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
            </div>
        </div><!-- /.box-header -->

        <div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Miêu Tả</th>
                            <th>Topic Cha</th>
                            <th>Vị Trí</th>
                            <th>Trang Thai</th>
                            <th style="width: 131px;">Tool</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    @item.Descrip
                                </td>
                                <td>@(new TopicModel().GetNameById(item.TopicParentID))</td>
                                <td>@item.OrderDisplay</td>
                                @if (item.IsActive == true)
                                {
                                    <td>Mở</td>
                                }
                                else
                                {
                                    <td>Chưa Mở</td>
                                }
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })|
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })|
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
            </div><!-- /.box-body -->
        </div>
    </div><!-- /.box -->
</div><!-- /.col -->

